<main>

  <div class="calendar">

    <div class="scene"
         *ngFor="let card of doors"
    >

      <div (click)="toggle(card)" class="door">

        <div class="inner">
          <p *ngIf="!card.isOpen">
            {{start}}
            {{end[card.number - 1]}}
          </p>

          <div class="cover"
               [class.fold-out]="!card.isOpen"
               [class.collapse]="card.isOpen"
               [class.onceOpened]="card.onceOpened"
          >
            {{getNumber(card)}}
          </div>

        </div>

      </div>

    </div>

  </div>

</main>
